/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1,
.alpha {
	line-height: 1.2;
	font-size: 1.84em;
	font-weight: 600;
	letter-spacing: 0.02em;

    @media all and (min-width: $bp-small) {
        font-size: 1.682em;
    }
}

h2,
.beta {
	line-height: 1.2;
	font-size: 1.78em;
	font-weight: 600;
    margin-bottom: $space-and-half;
	letter-spacing: 0.02em;

	#homepage .block-headline & {
		font-size: 1.315em;
	}

	.home .blogroll .block & {
		font-size: 1.25em;
		margin-top:$space;
	}

	.vcenter & {
		font-size: 1.4em;
	}

	.home-slides & {
		line-height: 1.4;
	}

    @media all and (min-width: $bp-small) {
        font-size: 1.653em;
    }
}

h3,
.gamma,
.subhead h1 {
	line-height: 1.2;
	font-size: 1.473em;
	font-weight: 300;
	letter-spacing:0;

	.about-staff & {
		line-height: 1.2;
		font-size: 1.052em;
		font-weight: 300;
		text-transform:uppercase;
		margin-bottom:1.2em;
	}
}

.services h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .125em;
	font-weight: 400;
	margin-bottom: 8px;
}

h4, .delta   {
	line-height: 1.2;
	font-size: 1.052em;
	font-weight: 300;

    .contact {
        margin-right: 10px;
    }
	@media all and (max-width: $bp-small) {
	    .subnav & {
	        font-size: 0.752em;
	    }
    }
}

h5,
.epsilon {
	font-size: .773em;
	font-weight: 400;

 	@media all and (max-width: $bp-small) {
	    &.subheading {
	        font-size: 0.6773em;
	    }
    }
}

h6,
.zeta {

}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
	font-style: italic;
	-webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

/*toggle*/
h4.trigger {
    margin: 0px !important;
    padding: $pad 0 $pad $pad-double;
    background-image: url('../images/toggle-plus.png');
    background-position: 0px center;
    background-repeat: no-repeat;
    line-height: 1.2;
	font-size: 1.78em;
	font-weight: 600;
    margin-bottom: 10px;
	letter-spacing: 0.02em;
}

h4.active{
    background-image: url('../images/toggle-minus.png') !important;
    background-position: 0px center;
    background-repeat: no-repeat;
}
.toggle_container {
    overflow: hidden;
    padding: $pad 0 $pad*4 $pad-double;
    border-bottom: 1px dotted $gray;
    margin-bottom: 3rem;
}
