/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
.main {
	padding: $pad-double*2 0;
    background: white;
	@extend .cf;

    .wrap > p {
        font-size: 1.10526315789474em;
    }

    h2 {
        letter-spacing: .02em;
    }

    &.about {
        padding-bottom:0;
        .wrap {
            border-bottom: 1px solid $gray-light;
            padding-bottom: $space*4;
        }
    }
}